{{ {
  "apiHost": app_api_host,
  "googleClientId": app_google_client_id,
  "facebookAppId": app_facebook_client_id,
  "onboardingYoutubeEmbededUrl": app_onboarding_youtube_embeded_url,
  "issueTrackerUrl": app_issue_tracker_url,
  "clientRepoUrl": app_client_repo_url,
  "serverRepoUrl": app_server_repo_url,
  "forceLabelThreshold": app_force_label_threshold,
} | to_json(indent=2, sort_keys=True) }}
