version: '3.9'

x-rss-temple-app-image: &rss-temple-app-image
  image: 'murraychristopherson/rss_temple_app:{{ docker_version }}'

services:
  {{ app_docker_service_prefix }}caddy-rss_temple_app:
    <<: *rss-temple-app-image
    command: >
      ash -c "
        if [ -e /custom/index.head.html ]; then
          sed -i -e \"/<!-- DEPLOYMENT HEAD START -->/,/<!-- DEPLOYMENT HEAD END -->/{/<!-- DEPLOYMENT HEAD START -->/{r /custom/index.head.html
      p};/<!-- DEPLOYMENT HEAD END -->/!d}\" /srv/index.html
        fi
        exec caddy run --config /etc/caddy/Caddyfile --adapter caddyfile
      "
    restart: always
    expose:
      - '4200'
    volumes:
      - caddy_data:/data/
      - caddy_config:/config/
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./config.json:/srv/assets/config.json
      - ./index.head.html:/custom/index.head.html
    networks:
      - default
      - rss_temple_net
volumes:
  caddy_data:
  caddy_config:
networks:
  rss_temple_net:
    external: true
