version: '3.9'

x-rss-temple-image: &rss-temple-image
  image: 'murraychristopherson/rss_temple:{{ docker_version }}'

services:
  {{ app_docker_service_prefix }}redis:
    image: redis:7
    restart: always
  {{ app_docker_service_prefix }}postgresql:
    image: postgres:15
    restart: always
    shm_size: '256m'
    expose:
      - '5432'
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - default
  {{ app_docker_service_prefix }}caddy-rss_temple:
    image: caddy:2
    restart: always
    expose:
      - '8000'
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data/
      - django_static:/srv/
    networks:
      - default
      - rss_temple_net
  {{ app_docker_service_prefix }}rss_temple:
    <<: *rss-temple-image
    command: >
      bash -c "while ! python ./manage.py checkready; do
                 sleep 0.1
               done

               python ./manage.py collectstatic --noinput &

               python ./manage.py migrate

               exec daphne -b 0.0.0.0 -p 8000 rss_temple.asgi:application
              "
    restart: always
    environment:
      APP_IN_DOCKER: 'true'
    env_file:
      - .env
    volumes:
      - ./overrides/local_settings.py:/code/rss_temple/local_settings.py
      - django_static:/code/_static/
  {{ app_docker_service_prefix }}rss_temple_dramatiq:
    <<: *rss-temple-image
    command: dramatiq api_dramatiq.tasks -Q rss_temple
    restart: always
    environment:
      APP_IN_DOCKER: 'true'
    env_file:
      - .env
    volumes:
      - ./overrides/local_settings.py:/code/rss_temple/local_settings.py
  {{ app_docker_service_prefix }}rss_temple_schedulerdaemon:
    <<: *rss-temple-image
    command: >
      bash -c "while ! python ./manage.py checkready; do
                 sleep 0.1
               done

               while ! python ./manage.py migrate --check; do
                 sleep 5
               done

               python ./manage.py checkclassifierlabels

               exec python ./manage.py schedulerdaemon --extract-top-images-response-max-size {{ app_download_max_size | int | string }} --feed-scrape-feed-max-size {{ app_download_max_size | int | string }} --setup-subscriptions-response-max-size {{ app_download_max_size | int | string }} --extract-top-images-response-chunk-size {{ app_download_chunk_size | int | string }} --feed-scrape-feed-chunk-size {{ app_download_chunk_size | int | string }} --setup-subscriptions-response-chunk-size {{ app_download_chunk_size | int | string }}
              "
    restart: always
    environment:
      APP_IN_DOCKER: 'true'
    env_file:
      - .env
    volumes:
      - ./overrides/local_settings.py:/code/rss_temple/local_settings.py
volumes:
  db_data:
  caddy_data:
  django_static:
networks:
  rss_temple_net:
    external: true
