x-rss-temple-image: &rss-temple-image
  image: 'murraychristopherson/rss_temple:{{ rss_temple__docker_version }}'

services:
  {{ rss_temple__app_docker_service_prefix }}redis:
    image: redis:7-alpine
    command: redis-server --maxmemory {{ rss_temple__redis_max_memory }} --maxmemory-policy {{ rss_temple__redis_max_memory_policy }}
    restart: always
    networks:
      - rss_temple_net
  {{ rss_temple__app_docker_service_prefix }}postgresql:
    image: postgres:15-alpine
    restart: always
    shm_size: '256m'
    expose:
      - '5432'
    env_file:
      - .env
    volumes:
{% if not rss_temple__postgres_local_data_directory %}
      - db_data:/var/lib/postgresql/data/
{% else %}
      - {{ rss_temple__postgres_local_data_directory }}:/var/lib/postgresql/data/
{% endif %}
    networks:
      - rss_temple_net
  {{ rss_temple__app_docker_service_prefix }}caddy-rss_temple:
    image: caddy:2-alpine
    restart: always
    expose:
      - '8000'
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data/
      - django_static:/srv/
    networks:
      - rss_temple_net
      - global_rss_temple_net
  {{ rss_temple__app_docker_service_prefix }}rss_temple:
    <<: *rss-temple-image
    command: >
      sh -c "
        while ! python ./manage.py checkready; do
          sleep 0.1
        done

        python ./manage.py collectstatic --noinput &

        python ./manage.py migrate

        exec daphne -b 0.0.0.0 -p 8000 rss_temple.asgi:application
      "
    restart: always
    environment:
      APP_IN_DOCKER: 'true'
{% if rss_temple__app_malloc_conf %}
      MALLOC_CONF: {{ rss_temple__app_malloc_conf | quote }}
{% endif %}
    env_file:
      - .env
    volumes:
      - ./overrides/local_settings.py:/code/rss_temple/local_settings.py
      - django_static:/code/_static/
    networks:
      - default  # necessary, because functionality requires making calls to the external internet
      - rss_temple_net
  {{ rss_temple__app_docker_service_prefix }}rss_temple_dramatiq:
    <<: *rss-temple-image
    command: dramatiq api_dramatiq.tasks -Q rss_temple
    restart: always
    environment:
      APP_IN_DOCKER: 'true'
{% if rss_temple__dramatiq_malloc_conf %}
      MALLOC_CONF: {{ rss_temple__dramatiq_malloc_conf | quote }}
{% endif %}
    env_file:
      - .env
    volumes:
      - ./overrides/local_settings.py:/code/rss_temple/local_settings.py
    networks:
      - default  # necessary, because functionality requires making calls to the external internet
      - rss_temple_net
  {{ rss_temple__app_docker_service_prefix }}rss_temple_schedulerdaemon:
    <<: *rss-temple-image
    command: >
      sh -c "
        while ! python ./manage.py checkready; do
          sleep 0.1
        done

        while ! python ./manage.py migrate --check; do
          sleep 5
        done

        python ./manage.py checkclassifierlabels

        exec python ./manage.py schedulerdaemon /schedulerdaemon.json
      "
    restart: always
    environment:
      APP_IN_DOCKER: 'true'
{% if rss_temple__schedulerdaemon_malloc_conf %}
      MALLOC_CONF: {{ rss_temple__schedulerdaemon_malloc_conf | quote }}
{% endif %}
    env_file:
      - .env
    volumes:
      - ./schedulerdaemon.json:/schedulerdaemon.json
      - ./overrides/local_settings.py:/code/rss_temple/local_settings.py
    networks:
      - rss_temple_net
volumes:
{% if not rss_temple__postgres_local_data_directory %}
  db_data:
{% endif %}
  caddy_data:
  django_static:
networks:
  global_rss_temple_net:
    external: true
  rss_temple_net:
    internal: true
