<meta property="og:title" content="{{ rss_temple_home__og_title_prefix }}: Terms of Service" />
<meta property="og:image" content="{{ rss_temple_home__og_image_host }}/media/og_image.jpg" />
<meta property="og:url" content="{{ rss_temple_home__og_url_host }}/tos.html" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ rss_temple_home__og_description }}" />
