:4200 {
  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Content-Security-Policy "default-src 'none'; script-src 'self' apis.google.com connect.facebook.net; connect-src 'self' *.rsstemple.com; img-src * data: blob:; style-src 'self' 'unsafe-inline'; base-uri 'self'; form-action 'self'; font-src 'self' data:; frame-src *; media-src blob:"
    X-XSS-Protection "1"
    Strict-Transport-Security "max-age={{ rss_temple_web_app__strict_transport_security_max_age }}; includeSubDomains"
  }

  root * /srv/
  file_server
  try_files {path} /index.html
}