<meta property="og:title" content="{{ og_title_prefix }}: Contact" />
<meta property="og:image" content="{{ og_image_host }}/media/og_image.jpg" />
<meta property="og:url" content="{{ og_url_host }}/contact.html" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ og_description }}" />
