version: '3.9'

x-rss-temple-home-image: &rss-temple-home-image
  image: 'murraychristopherson/rss_temple_home:{{ docker_version }}'

services:
  {{ app_docker_service_prefix }}caddy-rss_temple_home:
    image: caddy:2
    restart: always
    expose:
      - '3000'
    volumes:
      - caddy_data:/data/
      - caddy_config:/config/
      - caddy_srv:/srv/
      - ./Caddyfile:/etc/caddy/Caddyfile
    networks:
      - default
      - rss_temple_net
  {{ app_docker_service_prefix }}rss_temple_home:
    <<: *rss-temple-home-image
    env_file:
      - .env
    volumes:
      - caddy_srv:/srv/
volumes:
  caddy_data:
  caddy_config:
  caddy_srv:
networks:
  rss_temple_net:
    external: true
