x-rss-temple-home-image: &rss-temple-home-image
  image: 'murraychristopherson/rss_temple_home:{{ rss_temple_home__docker_version }}'

services:
  {{ rss_temple_home__app_docker_service_prefix }}caddy-rss_temple_home:
    image: caddy:2-alpine
    restart: always
    expose:
      - '3000'
    volumes:
      - caddy_data:/data/
      - caddy_config:/config/
      - caddy_srv:/srv/
      - ./Caddyfile:/etc/caddy/Caddyfile
    networks:
      - rss_temple_home_net
      - global_rss_temple_net
  {{ rss_temple_home__app_docker_service_prefix }}rss_temple_home:
    <<: *rss-temple-home-image
    command: >
      ash -c "
        [ \"$$(ls -A /srv/)\" ] || echo '<html><body><h1>Building Site...</h1></body></html>' > /srv/index.html
        yarn build

        rm -rf /srv/* && cp -R /build/_site/* /srv/

        while :; do
          sleep 3600
        done
      "
    restart: always
    env_file:
      - .env
    environment:
      HEAD_CUSTOM_DIR: '/custom/'
    volumes:
      - caddy_srv:/srv/
      - ./index.head.html:/custom/index.head.html
      - ./contact.head.html:/custom/contact.head.html
      - ./privacy.head.html:/custom/privacy.head.html
      - ./tos.head.html:/custom/tos.head.html
    networks:
      - rss_temple_home_net
volumes:
  caddy_data:
  caddy_config:
  caddy_srv:
networks:
  global_rss_temple_net:
    external: true
  rss_temple_home_net:
    internal: true
