<meta property="og:title" content="{{ og_title_prefix }}" />
<meta property="og:image" content="{{ og_image_host }}/media/og_image.jpg" />
<meta property="og:url" content="{{ og_url_host }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ og_description }}" />
