version: '3.9'

services:
  caddy:
    image: caddy:2
    restart: always
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - caddy_data:/data/
      - ./Caddyfile:/etc/caddy/Caddyfile
    networks:
      - default
      - rss_temple_net
  logspout:
    image: gliderlabs/logspout:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: syslog+tls://{{ pre_rss_temple__papertrail_destination_host }}:{{ pre_rss_temple__papertrail_destination_port | int }}
volumes:
  caddy_data:
networks:
  rss_temple_net:
    external: true
