{{ rss_temple_domain}}, www.{{ rss_temple_domain }} {
	log

	encode gzip

	reverse_proxy rss_temple_home:3001
}

app.{{ rss_temple_domain }} {
	log

	encode gzip

	reverse_proxy rss_temple_app:3000
}

api.{{ rss_temple_domain }} {
	log

	encode gzip

	reverse_proxy rss_temple:4000
}