maxmemory {{ rss_temple__valkey_max_memory }}
maxmemory-policy {{ rss_temple__valkey_max_memory_policy }}
{% if rss_temple__valkey_appendonly | bool %}
# Log every write so queued Dramatiq jobs survive a restart (at most ~1 second of writes is lost)
appendonly yes
appendfsync everysec
{% endif %}
